<table id="queries"
       style="display:none; position:absolute;">
  <tr>
    <td style="height:2em">
      <h1>
        Community
      </h1>
    </td>
  </tr>
  <tr style="font-weight: 600">
    <td style="width:50%">
      Queries
    </td>
    <td style="width:15%">
      Posts
    </td>
    <td style="width:15%">
      User
    </td>
    <td style="width:15%">
      Updated
    </td>
  </tr>
  <tr ng-repeat="query in data">
    <td class="link"
        ng-click="postulate(query.id)">
      {{query.title}}
    </td>
    <td>
      {{query.posts}}
    </td>
    <td>
      {{query.user}}
    </td>
    <td>
      {{query.updated}}
    </td>
  </tr>
  <tr>
    <td colspan="4" style="text-align: right; padding-top:3em;">
      <span ng-click="formulize()" style="text-decoration: underline; cursor: pointer;">Back To Forums</span>&nbsp;&nbsp;&nbsp;
      <span ng-click="postulate(-1,data[0].forum_id)" style="text-decoration: underline; cursor: pointer;">Add Query</span>
    </td>
  </tr>
</table>
