/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 */
/* line 20, /home/mikey/Desktop/japanfour/app/assets/stylesheets/main.scss */
.scores {
  background: #fff200;
  /* Old browsers */
  background: -moz-linear-gradient(left, #fff200 49%, #0008ff 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(49%, #fff200), color-stop(100%, #0008ff));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #fff200 49%, #0008ff 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #fff200 49%, #0008ff 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #fff200 49%, #0008ff 100%);
  /* IE10+ */
  background: linear-gradient(to right, #fff200 49%, #0008ff 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff200', endColorstr='#0008ff', GradientType=1);
  /* IE6-9 */
}
/* line 1, /home/mikey/Desktop/japanfour/app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 9, /home/mikey/Desktop/japanfour/app/assets/stylesheets/scaffolds.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 15, /home/mikey/Desktop/japanfour/app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 21, /home/mikey/Desktop/japanfour/app/assets/stylesheets/scaffolds.scss */
a {
  color: #000;
}
/* line 23, /home/mikey/Desktop/japanfour/app/assets/stylesheets/scaffolds.scss */
a:visited {
  color: #666;
}
/* line 26, /home/mikey/Desktop/japanfour/app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 33, /home/mikey/Desktop/japanfour/app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 38, /home/mikey/Desktop/japanfour/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 42, /home/mikey/Desktop/japanfour/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 48, /home/mikey/Desktop/japanfour/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 55, /home/mikey/Desktop/japanfour/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}
/* line 65, /home/mikey/Desktop/japanfour/app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

.backdrop {
    border: 0;
    background: #8e3931; /* Old browsers */
    background: -moz-linear-gradient(top,  #8e3931 71%, #000000 80%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(71%,#8e3931), color-stop(80%,#000000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #8e3931 71%,#000000 80%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #8e3931 71%,#000000 80%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #8e3931 71%,#000000 80%); /* IE10+ */
    background: linear-gradient(to bottom,  #8e3931 71%,#000000 80%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8e3931', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

input[type="password"] {
    letter-spacing: 2px;
    padding-left: 2px;
}

.tabs {
    color:white;
    font-size: 1.5em;
    text-align:center;
    background-color: #262626;
    border: 1px gray solid;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-left: 1em;
    padding: 5px;
    font-family: 'Arial';
}

.tabs:hover {
    cursor: pointer;
    background-color: #494949;
}

.tabselect {
    color:white;
    font-size: 1.5em;
    text-align:center;
    background-color: gray;
    border: 1px gray solid;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-left: 1em;
    padding: 5px;
    font-family: 'Arial';
}

.scores {
    width: 380px;
    background: #fff200; /* Old browsers */
    background: -moz-linear-gradient(left, #ffff00 0%, #0000ff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #ffff00), color-stop(100%, #0000ff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #ffff00 0%, #0000ff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #ffff00 0%, #0000ff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #ffff00 0%, #0000ff 100%); /* IE10+ */
    background: linear-gradient(to right, #ffff00 0%, #0000ff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff00', endColorstr='#0000ff', GradientType=1); /* IE6-9 */
}

.graph {
    border: solid gray 5px;
    border-radius: 20px;
    background-color: #f0f0ff;
    margin-left: 4em;
    margin-bottom: 6em;
}

.logins {
    display: inline-block;
    margin-right: 1em;
    color: white;
    font-size: medium;
}

.logins:hover {
    cursor: pointer;
    text-decoration: underline;
}
