app.controller("CommunityCtrl", ['$scope', '$window', '$document', 'Community', 'SendPost', function ($scope, $window, $document, Community, SendPost) {
    $scope.data = [];
    $scope.copylink = '';
    $scope.postsCount = 0;
    var swag = {};
    for (var i = 0; i < 10000; i++) {
        swag[i] = [0, 0, 0, 0];
    }


    $scope.submit = function (id) {
        SendPost.get({post: $('#textarea').html(), query: id}, function () {
            window.scrollTo(0, 0);
            $('#posts').fadeOut(500);
            $scope.forumulate(1);
        });
    };

    $scope.bolder = function (style) {
        var range = window.getSelection().getRangeAt(0);
        var node = range.startContainer;
        if (node.parentNode.id.length < 1) {
            node = node.parentNode;
        }
        var nodes = node.parentNode.childNodes;
        var offset = 0;
        var start = 0;
        var end = 0;
        var k = 0;
        while (nodes[k] != node) {
            start += $(nodes[k]).text().length;
            k++;
        }
        start += range.startOffset;
        var b = $(node).text().length - range.startOffset;
        var selectSpan = range.toString().length;

        if (b < selectSpan) {
            var nextLength = $(node.nextSibling).text().length;
            while ((b + nextLength) < selectSpan) {
                b += nextLength;
                if (node.nextSibling) {
                    node = node.nextSibling;
                    nextLength = $(node.nextSibling).text().length;
                }
            }
            b += range.endOffset;
            end = b + start;
        }
        else {
            for (var i = 0; i < nodes.length; i++) {
                if (nodes[i] == node) {
                    i = nodes.length;
                }
                else {
                    offset += $(nodes[i]).text().length;
                }
            }
            start = range.startOffset + offset;
            end = range.endOffset + offset;
        }

        var reverser = true;
        for (var i = start; i < end; i++) {
            if (swag[i] && (swag[i][style] == 0)) {
                reverser = false;
            }
            swag[i][style] = 1;
        }
        if (reverser) {
            for (var i = start; i < end; i++) {
                swag[i][style] = 0;
            }
        }

        stylize();
    };

    function stylize() {
        var text = $('#textarea').text();
        var size = text.length;
        var offset = 0;
        var bold = false;
        var italics = false;
        var underline = false;
        var link = false;

        for (var i = 0; i < size; i++) {
            if (swag[i]) {
                var clipped = false;
                var first = text.substring(0, offset + i);
                var last = text.substring(offset + i);
                var tag = '';
                if (((swag[i][0] == 0) && bold) || ((swag[i][1] == 0) && italics) || ((swag[i][2] == 0) && underline) || ((swag[i][3] == 0) && link)) {
                    bold = false;
                    italics = false;
                    underline = false;
                    link = false;
                    tag += '</m>';
                    clipped = true;
                }
                if (((swag[i][0] == 1) && (!bold || clipped)) || ((swag[i][1] == 1) && (!italics || clipped)) || ((swag[i][2] == 1) && (!underline || clipped)) || ((swag[i][3] == 1) && (!link || clipped))) {
                    var anyTrue = '';
                    anyTrue += bold ? 'font-weight: 600;' : '';
                    anyTrue += italics ? 'font-style: italic;' : '';
                    anyTrue += underline ? 'text-decoration: underline;' : '';
                    anyTrue += link ? ('color: blue; cursor: pointer;" onclick="window.location.href=\'' + $scope.copylink + "'") : '';
                    var anyChanged = false;

                    tag += '<m style="';
                    if ((swag[i][0] == 1) && (!bold || clipped)) {
                        anyChanged = true;
                        bold = true;
                        tag += 'font-weight: 600;';
                    }
                    if ((swag[i][1] == 1) && (!italics || clipped)) {
                        anyChanged = true;
                        italics = true;
                        tag += 'font-style: italic;';
                    }
                    if ((swag[i][2] == 1) && (!underline || clipped)) {
                        anyChanged = true;
                        underline = true;
                        tag += 'text-decoration: underline;';
                    }
                    if ((swag[i][3] == 1) && (!link || clipped)) {
                        anyChanged = true;
                        link = true;
                        tag += 'color: blue; cursor: pointer;" onclick="window.location.href=\'' + $scope.copylink + "'";
                    }

                    if ((anyTrue.length > 0) && anyChanged) {
                        tag = '</m>' + tag + anyTrue;
                    }
                    tag += '">';

                    clipped = false;
                }
                text = first + tag + last;
                offset += tag.length;
            }
        }

        if (bold || italics || underline || link) {
            text = text + '</m>';
        }

        $('#textarea').html(text);
    }

    $scope.selector = function () {
        var s = window.getSelection();
        var p = $('#textarea').get(0);
        var r = document.createRange();
        r.setStart(p, 0);
        r.setEnd(p, 0);
        s.removeAllRanges();
        s.addRange(r);
    };

    $scope.forumulate = function (id) {
        Community.get({'get': 'forum', 'id': id}, function (resp) {
            $('#forums').fadeOut(500);
            $scope.data = resp.queries;
            $('#queries').fadeIn(500);
        });
    };

    $scope.postulate = function (id) {
        $scope.postsCount = 0;
        Community.get({'get': 'post', 'id': id}, function (resp) {
            $('#queries').fadeOut(500);
            $scope.data = resp.posts;

            $('#posts').fadeIn(500, function () {
                $('#alterHeight').css('height', parseInt($('#posts').css('height').replace('px', '')) + 100 + 'px');
            });
        });

    };

    $scope.format = function (post) {
        if (post) {

            $('#posts').prepend('<div style="display:none" id="p' + $scope.postsCount + '">' + post + '</div>');
            $scope.postsCount++;
        }
    };

    $scope.last = function (index) {
        if ($('#p' + index).text().length > 0) {
            $('#post' + index).html($('#p' + index).html());
        }
        return '';
    };

    angular.element(document).ready(function () {
        Community.get({'get': 'index'}, function (resp) {
            $scope.data = resp.forums;
        });
    });
}]);